<div class="content"><h3>DASHBOARD</h3>

<table class="table table-striped">
  <tr>
    <th>Current Listings</th>
    <th>Listing Details</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @listings.each do |listing| %>
  <tr>
    <td><%= listing.address %></td>
    <td><%= link_to 'Show Details', listing %></td>
    <td><%= link_to 'Applications', apps_url(:listing_id => listing.id) %></td>
    <td><%= link_to 'Invite Applicant', "listings/#{listing.id}/mailer" %></td>
    <td><%= link_to 'Edit', edit_listing_path(listing) %> | <%= link_to 'Delete', listing, confirm: 'Are you sure?', method: :delete %></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add a New Listing', new_listing_path %></div>
