<h1>Send Email</h1>
<%= form_tag url_for(:action => 'invite') do %>
<%#= form_tag ('/listings/1/mailer') do %>
<p><label_tag="email_subject">Subject</label>:
<%= text_field 'email', 'subject' %></p>
<p><label_tag="email_recipient">Recipient</label>:
<%= text_field 'email', 'recipient' %></p>
<p><label_tag="email_message">Message</label><br/>
<%= text_area 'email', 'message' %></p>
<%= submit_tag "Send" %>
<% end %>