<div class="content"><p id="notice"><%= notice %></p>

<p>
  <b>Address:</b>
  <%= @listing.address %>
</p>

<p>
  <b>Bed:</b>
  <%= @listing.bed %>
</p>

<p>
  <b>Bath:</b>
  <%= @listing.bath %>
</p>

<p>
  <b>Landlord:</b>
  <%= @listing.landlord_id %>
</p>

<p>
  <b>Rent:</b>
  <%= @listing.rent %>
</p>

<p>
  <b>Sec dep:</b>
  <%= @listing.sec_dep %>
</p>

</br></br>




</br></br>



<%= link_to 'Send Invitation' %></br></br>
<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %></div>
=======
<%= link_to 'Back', listings_path %>

>>>>>>> ebfba4b0c317f94d0494400f81cbfc01de47b7f6
