<div class="content"><p id="notice"><%= notice %></p></br>

<p>
  <b>Fname:</b>
  <%= @app.fname %>
</p>

<p>
  <b>Lname:</b>
  <%= @app.lname %>
</p>

<p>
  <b>Dob:</b>
  <%= @app.dob %>
</p>

<p>
  <b>Ssn:</b>
  <%= @app.ssn %>
</p>

<p>
  <b>D lic no:</b>
  <%= @app.d_lic_no %>
</p>

<p>
  <b>D lic state:</b>
  <%= @app.d_lic_state %>
</p>

<p>
  <b>Phone:</b>
  <%= @app.phone %>
</p>

<p>
  <b>Pets:</b>
  <%= @app.pets %>
</p>

<p>
  <b>Present add:</b>
  <%= @app.present_add %>
</p>

<p>
  <b>Listing:</b>
  <%= @app.listing_id %>
</p>

<p>
  <b>Renter:</b>
  <%= @app.renter_id %>
</p></br>


<%= link_to 'Edit', edit_app_path(@app) %> |
<%= link_to 'Back', apps_path %></div>
