<!DOCTYPE html>
<html>
<head>
  <title>LeaseMate_App</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


	<div id="container">
		<header>
			<h1><%= link_to "LeaseMate App", root_url %></h1>
			<nav>
				<ul>
					<% if session[:uid].present? %>
						<li><%= link_to "View My Profile", landlord_url(current_landlord) %></li>
						<li><%= link_to "View My Dashboard", listings_url %></li>
						<li><%= link_to "Sign Out", sign_out_url %></li>
					<% else %>
						<li><%= link_to "Sign Up!", new_landlord_url %></li>
						<li><%= link_to "Sign In!", sign_in_url %></li>
					<% end %>
				</ul>
			</nav>
			<% if session[:uid].present? %>
				<p>Hello, <%= current_landlord.fname %></p>
			<% end %>
		</header>

		<div id="content">
			<% if flash[:notice].present? %>
				<p id="notice"><%= flash[:notice] %></p>
			<% end %>
			
			<%= yield %>
		</div>
		</br>
		</br>
		<footer>
			&copy;2012 LeaseMate, LLC
		</footer>
	</div>
</body>
</html>